
  <aside class="bg-dark">
    <div class="container text-center">
        <h2>Цени</h2>
        <table class="text-muted" align="center">
          <tr>
            <td>1 точка - пендел</td>
            <td>8 - 12 лв</td>
          </tr>
          <tr>
            <td>2 точки - аплик, малка плафониера и др.</td>
            <td>10 - 15 лв.</td>
          </tr>
          <tr>
            <td>3 точки - плафониера Ø 40, Ø 50 и др.</td>
            <td>12 - 18 лв.</td>
          </tr>
          <tr>
            <td>4 точки - осветителни тела 4х18 и др.</td>
            <td>15 - 22 лв.</td>
          </tr>
          <tr>
            <td>Демонтаж на ключ	</td>
            <td>0.50 лв.</td>
          </tr>
          <tr>
            <td>Монтаж на ключ	</td>
            <td>2.50 - 3.00 лв</td>
          </tr>
          <tr>
            <td>Монтаж на стълбищен автомат	</td>
            <td>15 - 25 лв.</td>
          </tr>
          <tr>
            <td>Монтаж на датчик	</td>
            <td>15 лв</td>
          </tr>
          <tr>
            <td>Монтаж на плафониера с датчик	</td>
            <td>12 - 15 лв</td>
          </tr>
          <tr>
            <td>Поставяне и инсталиране на LED лента	</td>
            <td>4 - 7 лв за 1 м.</td>
          </tr>
          <tr>
            <td>Инсталиране на RGB лента	</td>
            <td>9 - 12 лв за 1 м.</td>
          </tr>
        </table>
    </div>
    <div class="container text-center">
      <div class="call-to-action">
         <h2>&nbsp;</h2>
         <a href="#contact" class="btn btn-default btn-xl wow tada page-scroll">Свържете се с нас!</a>
      </div>
    </div>
  </aside>
