<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Ние знаем от какво се нуждаете!</h2>
                <hr class="light">
                <p class="text-faded">
                  Фирма ПИК е на българския пазар от 1991 година. Основният
                  предмет на дейност е търговия с осветителни тела и
                  електрически консумативи от водещи марки.<br/><br/>
                  Заповядайте при нас, където ще можете да изберете или поръчате
                  каквото пожелаете от богатата продуктова гама на всички водещи
                  марки в Европа. Ще бъдете любезно консултирани и обслужени за
                  да направите подходящия за Вас избор.
                </p>
                <a href="#contact" class="btn btn-default btn-xl page-scroll">Заповядайте при нас!</a>
            </div>
        </div>
    </div>
</section>
