<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>ПИК 91 - Осветителна Техника</h1>
            <hr>
            <p>
              Лампите и осветлението не са просто удбство, те са също и
              декорация. Подходящото осветление може да придаде блясък и на
              най-обикновената стая както в буквален, така и в преносен смисъл.
              Те доставят уют и комформт в любимият ни дом.
            </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Научете повече</a>
        </div>
    </div>
</header>
