<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">На вашите услуги</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary"></i>
                    <h3>Плафони по ваш дизайн</h3>
                    <p class="text-muted">Може да декорирате допълнително Вашия дом с различни форми и цветове на стъклени плафони във вид било на осветително тяло или фруктиера. Идеите могат да бъдат взаимни. Всеки продукт е индивидуален и неповторим.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-lightbulb-o wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Нестандартни поръчки</h3>
                    <p class="text-muted">Ние ще ви помогнем да измислим най-подходящият дизайн за вашето осветлени и след това ще създадем точно това, от което се нуждаете - едно уникално творение, на което само вие ще се наслаждавате.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Огледала и подсветки</h3>
                    <p class="text-muted">Традиционните огледала са скучни. Ние можем да ви помогнем да изберете правилните форми. Да накараме светлината да изграе в тях, създавайки неповторим уют, пригоден за вашият дом.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-wrench wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Проектиране и монтаж</h3>
                    <p class="text-muted">Доверете се на нашият опит в изграждането и поддръжката на градинско, вътрешно и фасадно осветление, както и всякакви други ел. инсталации с ниско напрежение.</p>
                </div>
            </div>
        </div>
    </div>
</section>
